/*--Navigation--*/
@import url(./Files.css);

body { 
  margin: auto;
}

.Routes {
  display: inline-block;;
  padding: 12px;
  color: white;
  stroke: hotpink;
  text-shadow: 
  1px 1px 2px black,
  0 0 0.2em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
  user-select: none;
  margin-right: auto; margin-left: auto;
  text-decoration: none;
  font-size: 150%;

}

.Article {
  display: block;
  padding: 12px;
  color: white;
  stroke: hotpink;
  text-shadow: 
  1px 1px 2px black,
  0 0 0.2em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
  user-select: none;
  margin-right: auto; margin-left: auto;
  float: left;
}
/*--Text -- Home Page*/

.Title {
  color: white;
  stroke: hotpink;
  text-shadow: 
  1px 1px 2px black,
  0 0 1em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
  text-align: center;
  font-size: 350%;
  user-select: none;
  margin-right: auto; margin-left: auto;
  
}

.SubTitle {
  color: white;
  stroke: hotpink;
  text-shadow: 
  1px 1px 2px black,
  0 0 1em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
  text-align: center;
  font-size: 350%;
  user-select: none;
  margin-right: auto; margin-left: auto;
}

.Description {
  display: flexbox;
  color: white;
  stroke: hotpink;
  text-shadow: 
  1px 1px 2px black,
  0 0 0.2em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
  text-align: center;
  user-select: none;

}

/*Controls*/

.Logo {
  display: block;
  margin-top: 5%; margin-bottom: auto;
  margin-left: auto; margin-right: auto;
  height: 200; width: 200;
  user-select: none;
  -webkit-user-select: none;
}

#Background {
  background-image: linear-gradient(#ffb4fe, #fbe5fe);
  background-repeat:no-repeat;
}

.StyleTitle {
  color: hotpink;
  stroke: black;
  text-align: center;
  font-size: 350%;
  user-select: none;
  letter-spacing: 7px;
  

}

.StyleBG {
  background-color: white;
  width: 300px;
  margin: auto;
  box-shadow: 1px 1px 2px black,
  0 0 1em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
}

.StyleTxt {
  display: block;
  color: white;
  stroke: hotpink;
  text-shadow: 
  1px 1px 2px black,
  0 0 0.2em rgb(255, 158, 247),
  0 0 0.2em rgb(255, 158, 247);
  user-select: none;
  margin: auto;

  
}

/*style="flex-direction: row; margin: auto;display: flex; scroll-behavior: smooth;overflow-x: scroll"*/
#section {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: auto;

}


.Book {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 590px;
}
.Header1 {
    color: white;
    stroke: hotpink;stroke-width: 200px;
    text-shadow: 
    1px 1px 2px black,
    0 0 0.2em rgb(255, 158, 247),
    0 0 0.2em rgb(255, 158, 247);
    user-select: none;
    text-align: center;
    margin-right: auto;margin-left: auto;
}

.Header4 {
    color: white;
    stroke: hotpink;stroke-width: 200px;
    text-shadow: 
    1px 1px 2px black,
    0 0 0.2em rgb(255, 158, 247),
    0 0 0.2em rgb(255, 158, 247);
    user-select: none;
    text-align: center;
    margin-right: auto;margin-left: auto;
}


.flex-Braids {
    display: flex; flex-direction: row;scroll-behavior: smooth;overflow-x: scroll;
}

.flex-div {
    flex-direction: column;text-align: center;margin: 10px; width: auto; line-height: 100%;
    color: white;
    stroke: hotpink;
    text-shadow: 
    1px 1px 2px black,
    0 0 0.2em rgb(255, 158, 247),
    0 0 0.2em rgb(255, 158, 247);

}





