
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url("./src/Background.png");
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 +125% 85% / +35%;
}

fieldset > h3 {
	color: white;
    stroke: hotpink;
    text-shadow: 
    1px 1px 2px black,
    0 0 0.2em rgb(255, 158, 247),
    0 0 0.2em rgb(255, 158, 247);
	text-align: center;
	margin: auto;
}

  
  nav {
	max-width: 960px;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: 0 auto;
	padding: 60px 0;
  }
  
  nav ul {
	text-align: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
	display: inline-block;
  }
  
  nav ul li a {
	padding: 18px;
	font-family: "Open Sans";
	text-transform:uppercase;
	color: #ff00b3;
	font-size: 18px;
	text-decoration: none;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  nav ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 35, 122, 0.7);
  }

h1 {
	font-family: 'Allura';
	font-size: 50px;
	margin-bottom: 30px;
	color: #ffffff;
	

}
h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;

}


main h1 {
	text-align: center;
	margin: auto;
	border-bottom: 4px solid black;
}



main section {
	float: right;
	width: 100vw;
	overflow-x: scroll;
    scroll-behavior: smooth;
}

main hr {
	width: 20px;
}
body h1 {
	text-align: center;
}

main section > h2 {
	color: white;
    stroke: hotpink;
    text-shadow: 
    1px 1px 2px black,
    0 0 0.2em rgb(255, 158, 247),
    0 0 0.2em rgb(255, 158, 247);
	text-align: center;
	margin: auto;
}

main section > div {
	float: left;flex: 1; flex-direction: row
}

main section > div > div {
	flex-direction: row;text-align: center;margin: 10px; width: auto; line-height: 100%;
    color: white;
    stroke: hotpink;
    text-shadow: 
    1px 1px 2px black,
    0 0 0.2em rgb(255, 158, 247),
    0 0 0.2em rgb(255, 158, 247);
}

main section > div > div div {
	display:inline-block; flex-direction: column;color: pink
}

main section > div > div > h4 {
	display: block;
	color: white;
	stroke: hotpink;
	text-shadow: 
	1px 1px 2px black,
	0 0 0.2em rgb(255, 158, 247),
	0 0 0.2em rgb(255, 158, 247);
	user-select: none;
	margin: auto;
}

main section > div > div div > h4{
	display: block;
	color: white;
	stroke: hotpink;
	text-shadow: 
	1px 1px 2px black,
	0 0 0.2em rgb(255, 158, 247),
	0 0 0.2em rgb(255, 158, 247);
	user-select: none;
	margin: 0.2em 0.5em ;
	text-align: start;
}

