<!DOCTYPE html>
<html>

<head>
  <!--Web Page-->
  <meta charset="UTF-8">
  <title>Hybrid Salon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon"
    href="https://media.discordapp.net/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=65f53a99&is=65e2c599&hm=ddcb9f37096db12524aefee23aa3e7343fbc5bbba68261ed1ea60075fe3c51a5&=&format=webp&quality=lossless&width=350&height=350"/>
  <!--CSS Files-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
  <link rel="stylesheet", href="./staticFiles/Home.CSS"> 
  <link rel="stylesheet" href="./staticFiles/Files.css" />
  <script src="./staticFiles/Handler.js"></script>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/Home">Home</a>
        </li>
        <li>
          <a href="/Policy">Policy</a>
        </li>
        <li>
          <a href="/Schedule">Schedule</a>
        </li>
      </ul>
    </nav>

    <div class="overlay">
      <img class="Logo" style="user-select: none"
      src="https://media.discordapp.net/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=65f53a99&is=65e2c599&hm=ddcb9f37096db12524aefee23aa3e7343fbc5bbba68261ed1ea60075fe3c51a5&=&format=webp&quality=lossless&width=350&height=350"
      , width="200" , height="200">
  <h1>Blues Lavish Braids</h1><br><br>
  
  <h3>**Note**</h3>
  <p>
    "Please ensure that you arrive promptly for your appointment for hair or lashes. Kindly review our policy for further details. Thank you for your cooperation and understanding."
  </p>
    <br>
    <button>READ MORE</button>
    </div>
  
  </header>
  <h1>Braids</h1>
  <main class="Braids">
 
    
    
  </main>
</div>
</body>

</html>