<!DOCTYPE html>
<html>

<head>
  <!--Web Page-->
  <meta charset="UTF-8">
  <title>Hybrid Salon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon"
    href="https://cdn.discordapp.com/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=662f3c99&is=662deb19&hm=f4d0fccc1f9eef2f40186155bf0c884198e558deee112041dedd60b8f82074be&"/>
  <!--CSS Files-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
  <link rel="stylesheet", href="./staticFiles/Home.CSS"> 
  <link rel="stylesheet" href="./staticFiles/Fonts.CSS">
  <script src="./staticFiles/Handler.js"></script>

</head>

<body>

  <main class="Main-header">

    <!--Routes-->
    <header class="Header">
      <nav class="Routes">
          <ul>
              <a href="/Policy"><li></li>Policy</a>
              <a href="/Schedule"><li></li>Schedule</a>
              <a href="/Home"><li></li>Home</a>
            </ul>
      </nav>
    </header>

    <!--Logo, Web-Name & Disclaimer/Note -->
    <section class="Main-Content">
      <img class="Logo" style="user-select: none" src="https://cdn.discordapp.com/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=662f3c99&is=662deb19&hm=f4d0fccc1f9eef2f40186155bf0c884198e558deee112041dedd60b8f82074be&", width="300" , height="300">
      <div class="Sub-Content">
        <h2 class="Web-Title">Blues Lavish Braids</h2>
        
        <h3 class="Disclaimer-Title">**Note**</h3>
        <p class="Disclaimer-Description">
          "Please ensure that you arrive promptly for your appointment for hair or lashes. Kindly review our policy for further details. Thank you for your cooperation and understanding."
        </p>
        <a href="/Policy"><button class="Policy-Redirecter-button">READ MORE</button></a>
      </div>
    </section>
    </main>
  
  </div>
  <h1>Braids</h1>
  <main class="Braids">
 
    
    
  </main>
</div>
</body>

</html>
