<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <title>Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon"
      href="https://media.discordapp.net/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=65a22c19&is=658fb719&hm=4562ca89040e465117eaa074f88cd54fa27976f0746b456a5dc4690db9421f35&=&format=webp&quality=lossless&width=395&height=395" />
    <!--CSS Files-->
    <link rel="stylesheet" href="./staticFiles/Files.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Javascript Files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
    <script src="./staticFiles/Events.js"></script>
    <script src="./staticFiles/Handler.js"></script>
    <script src="./staticFiles/Reserve.js"></script>
    <script src="./staticFiles/Calender.js"></script>
    <script src="./staticFiles/anime.min.js"></script>
    <link rel="stylesheet" href="./staticFiles/Calender.css">
    

</head>
<style>
  * {margin: 0; padding: 0;}
  
</style>
<body class="Background" style="z-index: 0;">

    <!--*@Details & Date-->
    
    <br /><br><br/><br>
    <form style="display: flex; flex-direction: column;z-index: 1;;">

      <ul id="progressbar">
        <li class="active" id="idx0">Details</li>
        <li id="idx1">Style</li>
        <li id="idx2">Date</li>
      </ul>

      <h1 class="Title" style="font-size: 200%;">Schedule Appointment</h1>
      <fieldset class="C2" id="Set0">
        <span class="Section"><h4>Details</h4></span>

        <div class="Form-Contingent">
          <input type="text" name="Email" class="Input" id="email" required>
          <span>Email</span>
        </div><br>
          
        <div class="Form-Contingent">
            <input type="text" name="Name" class="Input" id="name" required><br>
            <span>Name</span>
          </div><br>
        
        <div class="Form-Contingent">
          <input type="text" name="Tel" class="Input" id="tel" required>
          <span>Tel</span>
        </div><br>

          
          <div class="Next" value="NEXT" id="next">NEXT</div>
    
      </fieldset>
      <fieldset class="C2" id="Set1">
        <span class="Section"><h4>Style</h4></span>
        <div id="selectors", class="C4">

          <input list="lstyle" id="Style" placeholder="Select Style" autocomplete="off" class="Form-Selection">
          <datalist id="lstyle" class="Select" >

          </datalist>
          <datalist id="length" class="Select" >

          </datalist>

        </div>
        <br><hr><br>
        <div class="C3" id="Option-Display">

        </div>
        <br><hr><br>
        <div class="C3" id="Extra-Display">


        </div><br>
        <div type="button", class="Next" value="NEXT" id="Step2">
         NEXT
        </div>
      </fieldset>

      
      <fieldset class="C2" id="Set2">
        <h2 class="Total-Price">Total Price: ${R1000}</h2>
        <hr style="color: white;">
        <div class="C5" id="Pick-Time">
          <div class="Times">
            <h5 id="Time-Text">9:15AM</h5>
            <div></div>
        </div>

          <div class="Times">
              <h5 id="Time-Text">8:00am</h5>
              <div></div>
          </div>
            
        </div><br>
        <div class="contianer">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker"> May </span>
              <div class="year-picker" id="year-picker">
                <span class="year-change" id="pre-year">
                  <pre></pre>
                </span>
                <span id="year">2020 </span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
     
            <div class="calendar-body">
              <div class="calendar-week-days">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="calendar-days">
              </div>
            </div>
            <div class="calendar-footer">
            </div>
            <div class="date-time-formate">
            </div>
            <div class="month-list"></div>
          </div>
        </div>

        <div>
          <div class="Proceed">
            <div class="text">Submit</div>
          </div>
        </div>

        </div><br>      
        
        
      </fieldset>

      
      
      
        <br>
      <span class="slide">
        
      </span>
    </form>
    <div class="slide">
        
    </div>

  
    </div>
    

    </div>
       



</body>
</html>