<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policy</title>
    <link rel="stylesheet" href="./staticFiles/Files.css" />
    <link rel="icon" type="image/x-icon" href="https://media.discordapp.net/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=65f53a99&is=65e2c599&hm=ddcb9f37096db12524aefee23aa3e7343fbc5bbba68261ed1ea60075fe3c51a5&=&format=webp&quality=lossless&width=350&height=350">
</head>
<body id="Background">


      
    <br>
    <br>
    <img class="Logo" style="user-select: none"
      src="https://media.discordapp.net/attachments/1114428377613467669/1137269328836821033/IMG-20230731-WA0000-removebg-preview.png?ex=65f53a99&is=65e2c599&hm=ddcb9f37096db12524aefee23aa3e7343fbc5bbba68261ed1ea60075fe3c51a5&=&format=webp&quality=lossless&width=350&height=350"
      , width="200" , height="200">

  <h1 class="Title" style="font-family: Allura; font-size: 450%;">Policy</h1>
  <hr>
  <p class="Description">
    <b style="font-size: 120%; width: 20%; font-family: Francois One;">
❤️R100 Deposit is mandatory<br>
and required to set your appointment (Non-refundable).<br>
No deposit No appointment.
<br>
<br>
❤️No extra guests throughout 
your appointment.
<br>
<br>
❤️Make sure deposit is immediate and POP 
is sent through for confirmation.
<br>
<br>
❤️30 minutes late for your appointment will get down to an additional<br>
fee of R100 or your appointment is automatically cancelled.
<br>
<br>
❤️If you already paid deposit and have any problem,<br>
let me know 24 hours before your appointment to reschedule.

</p>

</body>
</html>